:root {
    --grey: #f5f5f5;
    --lgrey1: #e6e6e6;
    --lgrey2: #d9d9d9;
    --lgrey3: #cccccc;
    --green: #28a428;
    --red: #ff0000;
    --white: #ffffff;
    --primary: #396dff;
    --black: #000000;
    --blue: #0066ff;
    --light-blue: #99ffff;
    --orange: #e65c00;
    --grey: #1a1a1a;

    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 1.1em;
    text-align: center;
}

#add-question {
    border: 2px solid grey;
    border-radius: var(--s);
    padding: 15px 25px;
    background-color: var(--white);
    width: 75%;
    margin: 50px auto 0 auto;
    color: #555555;
}

input[type="text"] {
    display: block;
    width: 100%;
    margin: 0 auto;
    /*background-color: #f5f5f5;*/
}

#option {
    border: 2px solid var(--lgrey1);
    border-radius: var(--xs);
    margin: var(--s) 0;
}

#option:hover {
    border: 2px solid var(--blue);
}