:root {
    --grey: #f5f5f5;
    --lgrey1: #e6e6e6;
    --lgrey2: #d9d9d9;
    --lgrey3: #cccccc;
    --green: #28a428;
    --red: #ff0000;
    --white: #ffffff;
    --primary: #396dff;
    --black: #000000;
    --blue: #0066ff;
    --light-blue: #99ffff;
    --orange: #e65c00;
    --grey: #1a1a1a;

    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 1.1em;
    text-align: center;
}

h1, #container>h2, h3{
    text-align: center;
    color: darkslategrey;
}

#container>h2{
    margin-top: 5px;
}

h2{
    overflow-wrap: break-word;
    overflow: hidden;
    color: #555555;
    text-align: center;
    margin: var(--m);
}
h3{
    margin: 5px;
    text-align: right;
    font-style: italic;
}

#container{;
    border: 2px solid grey;
    border-radius: var(--s);
    padding: 15px 25px;
    background-color: var(--white);
    width: 75%;
    margin: 10px auto 10px auto;
    color: #555555;
}

input{
    margin: 10px;
    cursor: pointer;
}

span{
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span.choiceClass {
    overflow-wrap: break-word;
    overflow: hidden;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: var(--xs);
}


button, input[type="submit"]{
    margin: 15px 0 10px 0;
    border-radius: var(--xs);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    padding: 10px 10px;
    background-color: var(--blue);/*#4f6f6f;*/
    color: white;
    width: 120px;
    border: var(--blue);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 2px 2px 0 var(--blue), 0 2px 8px 0 var(--blue);
}

input[id="submitQuestion"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 160px;
}

input[id="submitQuestion"]:hover {
    box-shadow: 0 2px 2px 0 var(--blue), 0 2px 8px 0 var(--blue);
}

input[type="submit"]{
    margin: 10px auto;
    display: block;
}


#previous {
    cursor: pointer;
    width: 100px;
    background: transparent;
    color: darkslategrey;
    border-radius: var(--xs) 0 0 var(--xs);
    border: 2px solid grey;
    border-width: 2px 1px 2px 2px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
}

#next {
    cursor: pointer;
    width: 100px;
    background: transparent;
    color: darkslategrey;
    border-radius: 0 var(--xs) var(--xs) 0;
    border: 2px solid grey;
    border-width: 2px 2px 2px 1px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 0;
}


#navigationButtons {
    display: flex;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#navigationButtons : first-child {
    margin-left: -1rem;
    border-right-width: 0;
    border-right: 
}


.myLinks{
    width: 500px;
    background-color: grey;
    border: 2px grey;
    border-radius: var(--xs);
    width: 75%;
    margin: 0 auto var(--m) auto;
    font-size: 1.3em;
    font-color: var(--white);
    padding: var(--xs) var(--m);
}

.pointBox {
    text-align: left;
}

#point {
    width: 50px;
    padding: var(--s);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: 0 0 var(--m) 0;
    border: 2px solid var(--lgrey3);
    border-radius: var(--xs);
}



a{
    text-decoration: none;
    color: var(--white);
}

a:hover{
    color: var(--black);
}

form{
    width: 100%;
    margin: 0;
    text-align: center;
}


input[type="text"]{
    overflow-wrap: break-word;
    display: block;
    width: 80%;
    margin: 0;
    margin: 5px 0;
    background-color: #f5f5f5;
}

.formBox > input[type="text"] {
    overflow-wrap: break-word;
    padding: var(--s) 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    width: 100%;
    margin: var(--m) 0;
    border: 2px solid var(--lgrey1);
    border-radius: var(--xs);
}

/*input[class="formBox"]:hover {
    border: 2px solid var(--blue);
}*/
.formBox:hover > input[type="text"]{
    border: 2px solid var(--blue);
}

select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    width: 20%;
    margin: var(--xs) auto var(--l) auto;
    background-color: #e5e5e5;
}


.optionBox {
    overflow-wrap: break-word;
    display:flex;
    border: 2px solid var(--lgrey1);
    border-radius: var(--xs);
    margin: var(--s) 0;
}

.optionBox:hover {
    border: 2px solid var(--blue);
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

li {
    padding: 10px;
    display: flex;
}

div.navElement {
  /* make it responsive */
    text-align: center;
    cursor: pointer;
    padding: 5px;
    width: 15px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border: 2px solid grey;
    border-radius: 50%;
    margin: 0 4px;
    background-size: cover;
    
}
div.navElement:hover {
    box-shadow: 0 2px 2px 0 var(--blue), 0 2px 8px 0 var(--blue);
}


#head {
    text-align: center;
    display: flex;
    margin: 0 12.5% 0 auto;
}

#endTest{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    background-color: var(--red);
}

#endTest:hover {
    box-shadow: 0 2px 2px 0 var(--blue), 0 2px 8px 0 var(--blue);
}

.alertOnSubmit{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin: 20px 20px 0 20px;
}


/*.alert {
    margin: 20px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}*/

/*.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}*/

/*.alert-primary{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}*/
/*.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}*/

.alert-primary{
    margin: 20px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: grey;
    background-color: var(--lgrey1);
    border-color: var(--lgrey2);
}
.alert-success {
    margin: 20px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    margin: 20px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}